.radio-item {
  @apply relative flex items-center justify-start cursor-pointer h-9 z-50;
  width: max-content;

  &:hover {
    @apply text-gray_light_1;
  }

  &__input {
    @apply absolute w-[0.01px] h-[0.01px];

    &:checked + .radio-item__icon-wrap {
      @apply text-gray_dark_5;

      &::before {
        opacity: 1;
        visibility: visible;
      }
    }

    &:focus-visible + .radio-item__icon-wrap {
      @apply text-gray_light_1;
    }

    &:hover + .radio-item__icon-wrap {
      background-color: var(--color__dark-blue--light);
    }

    &:active + .radio-item__icon-wrap {
      animation: ease infinite keyframes-scale09 0.5s;
    }
  }

  &__icon-wrap {
    @apply relative w-6 h-6 block;
  }

  &__icon-bg {
    @apply text-white_mute;
  }

  &__icon-checked {
    @apply text-white_mute transition-all duration-75 ease-in-out;
  }

  &__label {
    @apply text-white_mute ml-2;
  }

  &.error {
    .radio-item__label {
      @apply text-gray;
    }

    .radio-item__icon-bg {
      @apply text-gray;
    }

    .radio-item__icon-checked {
      @apply text-gray;
    }

    .radio-item__error {
      @apply absolute top-full mt-1 text-tt;
    }
  }

  &.disabled {
    .radio-item__label {
      @apply text-gray_dark_1;
    }

    .radio-item__icon-bg {
      @apply text-gray_dark_1;
    }

    .radio-item__icon-checked {
      @apply text-gray_dark_1;
    }
  }
}

@keyframes keyframes-scale09 {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
  }
}
